.standings {
    .standing-table {
        width: 1000px;
        text-align: center;
        .standing-header-row {
            height: 35px;
        }

        .standing-row {
            width: 31px;
            height: 49px;

            .team {
                width: 200px;
                text-align: left;
            }

            td {
                font-size: 20px;
                width: 31px;
            }

            .points {
                font-weight: bold;
            }

        }
        .icon {
            width: 30px;
            height: 30px;
            margin-right: 10px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}