.admin-match {
    text-align: center;
    font-size: 16px;

    .admin-match-table {
        background-color: #3e1964;
        width: 500px;
        .header {
            display: flex;
            justify-content: space-between;
        }

        tr {
            height: 41px;
        }

        .admin-match-container:nth-child(odd) {background-color: #321450;}
        .admin-match-container:nth-child(even) {background-color: #3e1964;}
    }
    
}