body {
  font-family: 'Open Sans', sans-serif;;
}

.body {
  padding: 100px;
  width: 85%;
  float: right;
  background-color: #282828;
}

span {
  color: white;
}

h1 {
  color: white;
}

h3 {
  color: white;
}

table {
  border-collapse: collapse;
}

th {
  color: white;
}

td {
  color: white;
}

.icon {
  width: 20px;
  height: 20px;
}

tr:nth-child(even) {background-color: #321450;}
tr:nth-child(odd) {background-color: #3e1964;}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}