$main-color: #321450;
$sub-color: #3e1964;


body {
  font-family: 'Open Sans', sans-serif;;
}

.body {
  padding: 0 0px;
  width: 75%;
  float: right;
  background-color: rgb(49, 24, 77);;
}

div {
  color:white;
}

a {
  color: white;
}

.option {
  color: white;
}

span {
  color: white;
}

h1 {
  color: white;
}

h3 {
  color: white;
}

table {
  border-collapse: collapse;
}

th {
  color: white;
}

td {
  color: white;
}

.icon {
  width: 8px;
  height: 8px;
}

// tr:nth-child(even) {background-color: $main-color;}
// tr:nth-child(odd) {background-color: $sub-color;}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}