$main-color: #321450;
$sub-color: #3e1964;

.admin-schedule {
    background-color: $main-color;
    width: 100%;
    .admin-schedule-table{
        width: 100%;
        text-align: center;
        font-size: 16px;

    }
}